<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{admin/fragments/head-common}"></th:block>
    <style>
        pre {
            padding: 0.5em;
            height: 500px;
            border: var(--background-light) 1px solid;
            overflow: auto;
        }

        pre, .message {
            font-family: 'Consolas', monospace;
            color: var(--background-dark);
        }
    </style>
</head>
<body>
<div class="view-port" style="padding: 1em">
    <div class="message">
        请求处理失败: <span th:text="${message}"></span>
        <button onclick="window.history.back();return false;">返回</button>
    </div>
    <pre th:text="${trace}"></pre>
</div>
</body>
</html>
