<!doctype html>
<html lang="en">
<head>
    <th:block th:replace="~{f/page-meta::meta(pagename='index')}"/>
    <title th:text="#{index_page_title}"></title>
</head>
<body>
<header>
    <span class="title" th:text="#{index_page_title}"></span>
    <span>
        <span th:text="#{welcome(${session.user.userName})}"></span>
        <a th:href="@{/admin/logout}" th:text="#{logout}"></a>
    </span>
</header>
<main>
    <button class="primary">产品管理</button>
    <button class="primary">产线管理</button>
    <button class="primary">用户管理</button>
    <button class="primary">任务管理</button>
</main>
</body>
</html>