<!doctype html>
<html lang="en">
<head>
    <th:block th:replace="~{f/page-meta::meta(pagename='login')}"/>
    <title th:text="#{index_page_title}"></title>
</head>
<body>
<form method="post" th:action="@{/admin/login-process}">
    <div class="panel login">
        <header><span class="title" th:text="#{login}"></span></header>
        <main>
            <input name="username" type="text" th:placeholder="#{username}" autofocus required>
            <input name="password" type="password" th:placeholder="#{password}" required>
        </main>
        <footer class="buttons">
            <button class="primary" type="submit" th:text="#{login}"></button>
        </footer>
    </div>
</form>
</body>
</html>