<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{admin/fragments/head-common}"></th:block>
</head>
<body>
<div class="view-port" style="padding: 1em">
    <div th:each="component : ${components}" th:switch="${component.class.name}">

        <div th:case="'com.hyd.job.server.webmvc.ui.table.DataTable'">
            <div th:replace="~{admin/fragments/data-table::data-table(table=${component})}"></div>
        </div>

        <div th:case="'com.hyd.job.server.webmvc.ui.form.Form'">
            <div th:replace="~{admin/fragments/form::form(form=${component})}"></div>
        </div>
    </div>
</div>
</body>
</html>
