:root {
    --basic-font-size: 14px;
    --basic-gap-h: 10px;
    --basic-gap-v: 5px;
    --basic-padding: var(--basic-gap-v) var(--basic-gap-h);
    --basic-padding-pressed: calc(var(--basic-gap-v) + 1px) var(--basic-gap-h) calc(var(--basic-gap-v) - 1px);
    --field-text-padding: 3px 6px;
    --field-text-border-color: #CCCCCC;
    --color-primary: #007bff;
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --font-family-default: Arial, sans-serif;
}

html * {
    font-family: var(--font-family-default);
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    height: 100vh;
}

button.primary {
    color: #fff;
    background-color: var(--color-primary);
}

.panel {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.panel header {
    background-color: #f5f5f5;
    border-bottom-color: #ddd;
    padding: var(--basic-padding);
}

.panel header .title {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.panel main {
    display: flex;
    flex-direction: column;
    padding: var(--basic-padding);
}

.panel footer {
    background-color: #f5f5f5;
    border-top-color: #ddd;
    padding: var(--basic-padding);
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

button {
    padding: var(--basic-padding);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    padding: var(--basic-padding-pressed);
}

::placeholder {
    color: #AAAAAA;
}

input {
    border: 1px solid var(--field-text-border-color);
    width: 250px;
    box-sizing: border-box;
    margin-bottom: var(--basic-gap-v);
    padding: var(--field-text-padding);
}

body>header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    padding: var(--basic-padding);
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: var(--basic-font-size);
}

body>header .title {
    font-weight: bold;
}