@import "default.css";

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tree {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f6ffa8;
    width: 200px;
    user-select: none;
}

.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

.tree li {
    margin: 0;
    padding: 0 0 0 var(--more-gap-h);
}

.tree li > .menu-item-text {
    padding: var(--basic-padding);
}

.tree li > .menu-item-text:hover {
    background-color: #e6f2d8;
}

.tree li > .menu-item-text {
    cursor: pointer;
}

.tree li.has-sub > .menu-item-text {
    cursor: default;
}

.tree li.has-sub > .menu-item-text:before {
    content: "▶";
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    color: #dc3545;
    position: relative;
    top: -2px;
}

.tree li.expanded > ul {
    display: block;
}

.tree > ul {
    display: block;
}